<h1>Ordine</h1>
<mat-vertical-stepper [linear]="true" #stepper [animationDuration]="duration">
  <mat-step>
    <ng-template matStepLabel>Validazione stato ordine</ng-template>
    <div style="margin-top: 16px;">
      <button mat-raised-button color="primary" (click)="controlStatus()" type="button">
        Controllo status ordine
      </button>
    </div>
    @if (!msgOrdine().isOK){
    <div class="msg-ordine">
      <span>{{ msgOrdine().msg }}</span>
    </div>
    <div class="order-buttons">
      <button mat-raised-button color="primary" type="button" (click)="removeOrdine()">
        Cancella Ordine
      </button>
      <button mat-raised-button color="primary" type="button" (click)="conclude()">
        Conclude Ordine
      </button>
    </div>



    }


  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Dati di spedizione</ng-template>
    <div class="select-row">

      <mat-form-field appearance="fill" class="indirizzo-field">
        <mat-label>Indirizzi</mat-label>
        <mat-select name="indirizzo" [(ngModel)]="indirizzo" (selectionChange)="selectIdirizzo(); stepper.next()">
          @for (ind of listaSpedizione(); track ind.id) {
          <mat-option [value]="ind.id">
            {{ind.isDefault ? '[default] ' : ''}}{{ ind.nome }} {{ind.cognome}} {{ind.via}} {{ind.commune}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-checkbox name="creaNuovoIndirizzo" [(ngModel)]="creaNuovoIndirizzo">
        Creazione nuovo indirizzo
      </mat-checkbox>

    </div>
    @if (creaNuovoIndirizzo){
    <div class="accordion-wrapper">
      <mat-accordion>
        <mat-expansion-panel #panel="matExpansionPanel" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Indirizzo di spedizione
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- QUI LA FORM REATTIVA -->
          <form [formGroup]="createForm">

            <div class="form-grid">
              <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Cognome</mat-label>
                <input matInput formControlName="cognome">
              </mat-form-field>

              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Via</mat-label>
                <input matInput formControlName="via">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Comune</mat-label>
                <input matInput formControlName="comune">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>CAP</mat-label>
                <input matInput formControlName="cap">
              </mat-form-field>
            </div>

            <div class="msg-error">
              <span style="color:red">{{ msg() }}</span>
            </div>


            <div style="margin-top: 16px;">
              <button mat-raised-button color="primary" type="button" [disabled]="createForm.invalid"
                (click)="registrazione(panel)">
                Conferma indirizzo
              </button>
            </div>

          </form>

        </mat-expansion-panel>
      </mat-accordion>

    </div>
    }
    <!-- Bottoni dello stepper -->
    <div style="margin-top: 16px;">
      <button mat-button matStepperNext [disabled]="indirizzo == null">
        Next
      </button>
    </div>

  </mat-step>
  <mat-step [stepControl]="pagamentoForm">
    <ng-template matStepLabel>Metodo di pagamento</ng-template>

    <form [formGroup]="pagamentoForm">

      <mat-radio-group formControlName="metodo" class="metodo-group">
        @for (m of metodiPagamento; track m.id){
        <mat-radio-button [value]="m.id" class="metodo-option">
          {{ m.tipo }}
        </mat-radio-button>
        }
      </mat-radio-group>

      <div style="margin-top: 16px;">
        <button mat-raised-button color="primary" type="button" [disabled]="pagamentoForm.invalid"
          (click)="confermaPagamento(); stepper.next()">
          Conferma Pagamento
        </button>
      </div>

    </form>

    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext>Next</button>
    </div>

  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Riassunto</ng-template>

    <div style="margin-top: 16px;">
      <button mat-raised-button color="primary" type="button" (click)="anteprima()">
        visulizzazione del anteprima del ordine per confirmazione
      </button>
    </div>

    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton matStepperNext>Next</button>
      <button matButton (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Invio ordine</ng-template>
    <div style="margin-top: 16px;">
      <button mat-raised-button color="primary" type="button" (click)="createOrdine()">
        Creazione del ordine
      </button>

      <div class="msg-ordine" [ngClass]="{'msg-ordine-normal' : msgOrdine().isOK , 'msg-ordine-error' : !msgOrdine().isOK}">
        <span>{{ msgOrdine().msg }}</span>
      </div>

    </div>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="nextStep()">Next..</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Conferma ordine</ng-template>
    <div style="margin-top: 16px;">
      <button mat-raised-button color="primary" type="button" (click)="confermaOrdine()">
        Conferma del ordine
      </button>
      @if (msgOrdine().msg != ''){
      <div class="msg-ordine">
        <span>{{ msgOrdine().msg }}</span>
      </div>
      }


    </div>
  </mat-step>

</mat-vertical-stepper>