<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ecommerce</span>

  @if (auth.grant().userName != null){
  <div style="flex: 1; text-align: center;">
    <span>Ciao {{auth.grant().userName}}</span>
  </div>
  }


  <span class="example-spacer"></span>
  @if (auth.grant().isLogged){
<button mat-icon-button
        class="example-icon"
        aria-label="Home"
        matTooltip="Carello"
        [routerLink]="['/dash','home']">
  <mat-icon>home</mat-icon>
</button>





  <button mat-icon-button
        class="example-icon"
        aria-label="Carrello"
        matTooltip="Carello"
        [routerLink]="['/dash','carello']">
  <mat-icon>
    <img src="cart.svg" />
  </mat-icon>
</button>

  }


  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon" (click)="login()"
    matTooltip="Login">
    <mat-icon>login</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()"
    matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="auth.grant().isAdmin" class="side-menu">
    <mat-list role="list">
      <mat-list-item routerLink="home" [routerLinkActive]="'active'">Home</mat-list-item>
      @if (auth.grant().isAdmin){
      <mat-list-item routerLink="account" [routerLinkActive]="'active'">Gestione Account</mat-list-item>
      <mat-list-item routerLink="famiglia" [routerLinkActive]="'active'">Gestione Famiglia</mat-list-item>
      <mat-list-item routerLink="artisti" [routerLinkActive]="'active'">Gestione Artisti</mat-list-item>
      <mat-list-item routerLink="prodotti" [routerLinkActive]="'active'">Gestione Prodotti</mat-list-item>
      }

    </mat-list>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>