.example-container {
  height: 600px;
  margin: 10px;
  border: 1px solid #555;
  background: #eee;
}

.side-menu {
  width: 200px; 
}
.main-content {
  padding: 20px;
  background: white;
}
.side-menu mat-list-item {
  font-size: 14px; 
  padding: 4px 8px;
  min-height: 32px;
}

.side-menu mat-list-item:hover {
  background-color: #ddd; /* 👌 effetto hover più visibile */
}
.active {
  background-color: blanchedalmond;
}
.example-spacer {
  flex: 1 1 auto;
}