.example-container {
  min-height: 600px;
  height: auto;
  margin: 10px;
  border: 1px solid #555;
  background: #eee;
}

.side-menu {
  width: 200px; 
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.welcome {
  font-weight: 500;
  margin-left: 15px;
}

button mat-icon {
  margin-right: 6px;
  
}

.main-content {
  padding: 20px;
  background: white;
}
.side-menu mat-list-item {
  font-size: 14px; 
  padding: 4px 8px;
  min-height: 32px;
}

.side-menu mat-list-item:hover {
  background-color: #ddd; /* 👌 effetto hover più visibile */
}
.active {
  background-color: blanchedalmond;
}
.example-spacer {
  flex: 1 1 auto;
}
.logo {
    width: 5%;
}

.chatbot-fab {
  width: 50px;
  height: 50px;
  min-width: 50px;      /* 👈 importante per mat-fab */
}

.chatbot-img {
  width: 45px;          /* 👈 dimensione icona */
  height: 45px;
  object-fit: contain; /* 👈 evita deformazioni */
}
