<mat-toolbar>
  <button matIconButton [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="changePwd()">
    <mat-icon>password</mat-icon>
    <span>Cambio password</span>
  </button>
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
</mat-menu>




<img src="logo.png" class="logo">

  @if (auth.grant().userName != null){
  <div style="flex: 1; text-align: center;">
    <span>Ciao {{auth.grant().userName}}</span>
  </div>
  }


  <span class="example-spacer"></span>
  @if (auth.grant().isLogged){
  <button mat-icon-button class="example-icon" aria-label="Home" matTooltip="Home Page" [routerLink]="['/dash','home']">
    <mat-icon>home</mat-icon>
  </button>

  @if ((auth.grant().orderSize ?? 0) > 0){
  <button mat-icon-button class="example-icon" aria-label="Ordine" matTooltip="Elenco ordini effetuati"
    matBadge="{{auth.grant().orderSize}}"
    [routerLink]="['/dash','gestioneOrdine']">
    <mat-icon>
      <img src="order.png">
    </mat-icon>
  </button>
  }
  <button mat-icon-button class="example-icon" matBadge="{{auth.grant().carelloSize}}" aria-label="Carrello"
    matTooltip="Carrello" [routerLink]="['/dash','carello']">
    <mat-icon>
      <img src="cart.svg" />
    </mat-icon>
  </button>

  }


  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon" (click)="login()"
    matTooltip="Login">
    <mat-icon>login</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()"
    matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="auth.grant().isAdmin" class="side-menu">
    <mat-list role="list">
      <mat-list-item routerLink="home" [routerLinkActive]="'active'">Home</mat-list-item>
      @if (auth.grant().isAdmin){
      <mat-list-item routerLink="account" [routerLinkActive]="'active'">Gestione Account</mat-list-item>
      <mat-list-item routerLink="famiglia" [routerLinkActive]="'active'">Gestione Famiglia</mat-list-item>
      <mat-list-item routerLink="artisti" [routerLinkActive]="'active'">Gestione Artisti</mat-list-item>
      <mat-list-item routerLink="prodotti" [routerLinkActive]="'active'">Gestione Prodotti</mat-list-item>
      }

    </mat-list>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>