.dialog-container {
  position: relative;
  padding-top: 30px; /* spazio per la X */
}

.dialog-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #555;
}

.dialog-close-btn:hover {
  color: #000;
}

.dialog-actions-right {
  display: flex;
  justify-content: flex-end; /* allinea a destra */
  margin-top: 16px;
}

