.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.example-card{
  width: 100%;
  max-width: 1000px;
}

.example-card-footer {
  padding: 16px;
}

.search-row{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    flex-wrap: nowrap;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.spacer {
    flex: 1 1 auto;
}
.clickable-row{    
    cursor: pointer;
}


