<mat-card class="example-card" appearance="outlined">

    <mat-card-header class="header-row">
        <mat-card-title>Prodotti disponibili</mat-card-title>
    </mat-card-header>

    <mat-divider style="margin-top: 20px;"></mat-divider>

    <mat-card-content>

        <div class="filter-row">

            <!-- CAMPO NOME -->
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="nome" [(ngModel)]="nome" (keyup.enter)="applicaFiltri()">

                @if (nome) {
                <button mat-icon-button matSuffix (click)="nome = null; applicaFiltri()" matTooltip="Cancella">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>

            <!-- CAMPO ARTISTA -->
            <mat-form-field appearance="fill">
                <mat-label>Artist</mat-label>
                <mat-select name="artist" [(ngModel)]="artist" (selectionChange)="applicaFiltri()">
                    @for (art of artisti; track art.id) {
                    <mat-option [value]="art.id">{{ art.nome }}</mat-option>
                    }
                </mat-select>

                @if (artist) {
                <button mat-icon-button matSuffix (click)="artist = null; applicaFiltri()" matTooltip="Cancella">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>

            <!-- CAMPO GENERE -->
            <mat-form-field appearance="fill">
                <mat-label>Genere</mat-label>
                <mat-select name="genere" [(ngModel)]="genere" (selectionChange)="applicaFiltri()">
                    @for (fam of families; track fam.id) {
                    <mat-option [value]="fam.id">{{ fam.descrizione }}</mat-option>
                    }
                </mat-select>

                @if (genere) {
                <button mat-icon-button matSuffix (click)="genere = null; applicaFiltri()" matTooltip="Cancella">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>

        </div>

    </mat-card-content>

</mat-card>

<div class="products-grid">
    @for (prod of products; track prod.id){
    <mat-card class="example-card">
        <mat-card-header class="header-center">
            <mat-card-title>{{prod.descrizione}}</mat-card-title>
            <mat-card-subtitle>{{prod.artista.nome}}</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">
            @if (prod.image) {
            <img mat-card-image [src]="prod.image" alt="Cover" style="max-width: 200px;">
            } @else {
            <img src="no-image.jpg" style="max-width: 200px;">
            }
        </div>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button matButton>LIKE</button>
            <button matButton>SHARE</button>
        </mat-card-actions>
    </mat-card>
    }

</div>