.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}