.example-card {
  width: 100%;
}

.example-card-footer {
  padding: 16px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.search-row{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    flex-wrap: nowrap;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.spacer {
    flex: 1 1 auto;
}
.clickable-row{    
    cursor: pointer;
}



