<mat-dialog-content class="dialog-container">
  <button mat-icon-button mat-dialog-close class="dialog-close-btn">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card class="product-card">
    <mat-card-header class="header-center">
      <mat-card-title>{{prodotto.descrizione}}</mat-card-title>
      <mat-card-subtitle>{{prodotto.artista.nome}}</mat-card-subtitle>
    </mat-card-header>

    <div class="image-container">
      @if (prodotto.image) {
      <img mat-card-image [src]="prodotto.image" alt="Cover">
      } @else {
      <img src="no-image.jpg" alt="No image">
      }
    </div>

    <mat-card-content>
      <p>
        <span><strong>Famiglia. </strong>{{prodotto.famiglia.descrizione}}</span>
      </p>
      <div class="info-cards-row">
        @for (prezzo of prodotto.prezzo; track prezzo.id) {
        <mat-card appearance="outlined" class="info-card">
          <mat-card-header >
            <mat-card-title>{{prezzo.supporto}}</mat-card-title>
            <mat-card-subtitle>{{prezzo.prezzo | currency:'EUR'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button matButton (click)="aggiungiCarello(prezzo)">Aggiungi a carrello</button>
          </mat-card-actions>
        </mat-card>
        }
      </div>

        <div class="msg-error full-row">
            <span style="color:red">{{ msg() }}</span>
        </div>

    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>