@if (mod() == 'U'){
<h2 mat-dialog-title>Detaglio {{prodotto.descrizione}} </h2>
} @else {
<h2 mat-dialog-title>Creazione nuovo prodotto</h2>
}

<mat-dialog-content>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form-grid form-container">

        <mat-form-field appearance="fill" class="small-field">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome">
        </mat-form-field>

        <mat-form-field appearance="fill" class="small-field">
            <mat-label>Genere</mat-label>
            <mat-select formControlName="genere">
                @for (fam of families; track fam.id) {
                <mat-option [value]="fam.id">{{ fam.descrizione }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="small-field">
            <mat-label>Artista</mat-label>
            <mat-select formControlName="artist">
                @for (art of artisti; track art.id) {
                <mat-option [value]="art.id">{{ art.nome }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type='button'
            [disabled]="mod() !== 'U'" 
            (click)="fileInput.click()">
            <mat-icon>upload</mat-icon>
            Scegli immagine
        </button>

        <span style="margin-left: 10px;">{{ fileName }}</span>

        <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFileSelected($event)">

        <button mat-raised-button color="primary" type='button' (click)="onUpload()" [disabled]="!selectedFile">
            Carica
        </button>
        <mat-accordion class="full-row">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span>Immagine</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                @if (imageUrl()) {
                <div>
                    <img [src]="imageUrl()" alt="Uploaded" style="max-width: 300px;">
                </div>
                }
            </mat-expansion-panel>
        </mat-accordion>

        <div class="msg-error full-row">
            <span style="color:red">{{ msg() }}</span>
        </div>

        <mat-divider class="full-row"></mat-divider>

        @if (mod() == 'U'){
        <mat-accordion class="full-row">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span>Prezzi e stock</span>
                    </mat-panel-title>
                    <div class="panel-actions">
                        <button mat-stroked-button color="primary" type="button" 
                        (click)="addSupport()">Add support</button>
                    </div>
                </mat-expansion-panel-header>

                <div class="table-wrapper">
                    <div class="table-wrapper">
                        <table class="table table-stripped ">
                            <thead>
                                <tr>
                                    <th>Supporto</th>
                                    <th>Prezzo</th>
                                    <th>Stock</th>
                                    <th>Stock alert</th>
                                </tr>

                            </thead>
                            <tbody>

                                @for (prezzo of prodotto()?.prezzo; track prezzo.id) {
                                <tr (click)="onSelectedPrezzo(prezzo)" class="clickable-row">
                                    <td>{{prezzo.supporto}}</td>
                                    <td>{{prezzo.prezzo}}</td>
                                    <td>{{prezzo.stock?.currentStock}}</td>
                                    <td>{{prezzo.stock?.stockAlert}}</td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
        }
        <div class="button-group full-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="!updateForm.valid">
                Registrazione
            </button>

            @if (mod() == 'U'){
            <button mat-raised-button color="primary" type="button" class="btn-danger" (click)="remove()">
                Cancellazione
            </button>
            }

            <button mat-raised-button mat-dialog-close color="primary">
                Chiudere
            </button>
        </div>

    </form>


</mat-dialog-content>